dl.class, dl.var {
	font-family: monospace;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	font-family: monospace;
}

p {
	font-size: 0.9em;
	line-height: 20px;
}

.rst-content dl:not(.docutils) {
	margin-bottom: -8px;
}

.rst-content dl:not(.docutils) dt {
	font-size: 80%;
	border-top: solid 1px #6ab0de;
	padding: 3px 6px;
}
